@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Markazi Text", serif;
}
body {
  padding: 0.625rem;
}
/*header*/
header {
  position: relative;
  width: 100%;
  height: 6.25rem;
  background: #fff;
  border: 2px solid #000;
  border-bottom: none;
  border-radius: 1.25rem;
  padding: 0.625rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
}
.phone h3 {
  margin-left: 8px;
  font-size: 1.5625rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px #fcb5de;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul li {
  list-style: none;
  padding: 0.625rem 1.25rem;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}
.menu ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.5625rem;
  font-weight: 600;
}
.menu ul li:hover,
.menu ul li.active {
  border-bottom: 3px solid #fcb5de;
}
.menu-toggle {
  display: none;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.875rem;
  cursor: pointer;
  color: #3a3a3a;
  transition: 0.3s;
}
/*home*/
.home {
  background: url("img/home.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.home .logo-home {
  margin: 20px 0;
}
.home h3 {
  font-size: 1.875rem;
  margin-bottom: 10px;
  font-weight: 900;
  text-align: center;
}
.home h1 {
  font-size: 3.125rem;
  margin-bottom: 10px;
  text-align: center;
}
.home p {
  font-size: 1.375rem;
  font-weight: 600;
  max-width: 550px;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}
.notice {
  width: 80%;
  background: rgba(255, 255, 255, 0.555);
  padding: 20px 30px;
  border: 1px solid #fcb5de;
  box-shadow: 0 0 10px #fcb5de;
}
.notice h2 {
  color: #ff0095;
  font-size: 1.5625rem;
  margin: 10px 0;
}
.notice span {
  font-size: 1.4375rem;
  font-weight: 600;
}
/*form*/
.reservation {
  width: 100%;
  padding: 50px 9%;
}
.reservation h3 {
  text-align: center;
  color: #ff0095;
  font-size: 1.675rem;
  margin-bottom: 20px;
}
.reservation-box {
  margin-top: 50px;
  border: 2px solid #ff0095;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
  padding: 5% 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.reservation-box input,
#options {
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #666;
  outline: none;
  font-size: 1.2rem;
  color: #454545;
}
#options {
  cursor: pointer;
}
.reservation-box button {
  background: #ff0095;
  color: white;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}
.reservation-box button:hover {
  background: #fc57b7;
}
.reservation-box button i {
  margin-right: 5px;
}
.reservation-box input[type="number"]::-webkit-outer-spin-button,
.reservation-box input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.text {
  color: #ff0095;
  font-weight: 800;
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}
.text i {
  margin-left: 5px;
}

.reservation-box2 {
  border: none !important;
  padding: 10px !important;
  margin-top: 20px !important;
}
.res2-h3 {
  font-size: 2rem !important;
}
/*images*/
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 5%;
}
.img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.2s ease;
}
.img:hover img {
  transform: scale(1.2);
  filter: grayscale(5);
}
/*services*/
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.services h5 {
  color: deeppink;
  font-size: 1.2rem;
  font-weight: 900;
}
.services h1 {
  margin: 5px 0;
  font-size: 1.5rem;
  font-weight: 900;
}
.services h4 {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 700px;
}
.service-boxes {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}
.service-box .content h2 {
  font-size: 1.3rem;
  color: #000000;
  margin-bottom: 10px;
}
.service-box .content p span {
  font-size: 1.1rem;
  color: #242424;
}
/*exp&exp2*/
.exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 2%;
  margin-top: 100px;
}
.exp-card {
  width: 100%;
  border-radius: 20px;
}
.exp-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.exp-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
}
.exp-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.exp-content p,
.exp-content span {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 600;
}
.exp-content span {
  padding: 0 20px 0 0;
  border-right: 4px solid deeppink;
}

.exp2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
.exp2-content h1 {
  font-size: 2.3rem;
  font-weight: 800;
  margin: 10px 0;
}
.exp2-content h1:first-child {
  color: gray;
}
.exp-boxes {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}
.exp-box h3 {
  font-size: 1.5rem;
}
.exp-box p {
  max-width: 200px;
  text-align: justify;
  font-size: 1.2rem;
}
/*footer*/
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  background: pink;
  padding: 2%;
}

footer .top-row {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 16px;
  border-radius: 8px;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: start;
}
footer .logo{
  margin-left: 10px;
}
.footer h3{
  font-size: 1.3rem;
}
.clock-content p {
  font-size: 1.4rem;
  max-width: 650px;
}
.footer {
  padding: 10px;
  border-top: 1px solid #eee;
  background: pink;
  text-align: center;
  padding-bottom: 20px;
  color: #333;
}
footer h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
footer .logo {
  margin: auto;
}
.bottom-left a{
  text-decoration: none;
  font-size: 1.4em;
  color: #000;
  display: block;
  margin: 10px auto;
}
.bottom-right li{
  list-style: none;
  margin: 15px 0;
}
.bottom-right li a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  transition: 0.3s;
}
.bottom-right li a i{
  margin-left: 10px;
}
.bottom-right li a:hover{
  color: deeppink;
}
/*media queries*/
@media (max-width: 480px) {
  .menu ul li a {
    font-size: 1.25rem;
  }
  .menu-toggle {
    font-size: 1.5rem;
  }
  .phone h3 {
    font-size: 1.4rem;
  }
  .home {
    padding: 10px 15px;
  }
  .home h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 900;
    text-align: center;
  }
  .home h1 {
    font-size: 2.125rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .home p {
    font-size: 1.1rem;
    font-weight: 600;
    max-width: 300px;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }
  .notice {
    width: 90%;
  }
  .notice span {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .reservation-box {
    grid-template-columns: 1fr;
  }
  .reservation-box button {
    padding: 10px;
  }
  .reservation h3 {
    font-size: 1.3rem;
  }
  .reservation-box input,
  #options {
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid #666;
    outline: none;
    font-size: 1.2rem;
    color: #454545;
  }
  .service-boxes {
    grid-template-columns: 1fr !important;
  }
  .services h5 {
    font-size: 1.1rem;
  }
  .services h1 {
    font-size: 1.4rem;
  }
  .services h4 {
    font-size: 1.1rem;
    max-width: 350px;
  }
  .service-boxes {
    margin-top: 50px;
  }
  .service-box .content h2 {
    font-size: 1.2rem;
  }
  .service-box .content p span {
    font-size: 1rem;
  }
  .exp-content h1 {
    font-size: 1.5rem;
  }
  .exp-content p,
  .exp-content span {
    font-size: 1rem;
    font-weight: 500;
  }
  .exp-content span {
    padding: 0 10px 0 0;
    border-right: 2px solid deeppink;
  }
  .exp2-content h1 {
    font-size: 1.7rem;
  }
  .exp-box h3 {
    font-size: 1.3rem;
  }
  .exp-box p {
    font-size: 1rem;
  }
  .res2-h3 {
    font-size: 1.7rem !important;
  }
}

@media (max-width: 767px) {
  .menu-toggle {
    display: flex;
    transition: 0.3s;
  }
  .menu ul {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    align-items: start;
    width: 100%;
    transition: 0.3s;
  }
  .menu ul.active {
    display: flex;
    opacity: 1;
  }
  .menu ul li {
    display: block;
    width: 100%;
  }
  .menu ul li:hover,
  .menu ul li.active {
    border-bottom: 3px solid transparent;
    background: #333;
  }
  .menu ul li:hover a,
  .menu ul li.active a {
    color: white;
  }
  .images {
    grid-template-columns: 1fr;
  }
  .services h4 {
    max-width: 450px;
  }
  .exp-card {
    width: 80% !important;
  }
  .exp-boxes {
    grid-template-columns: 1fr;
  }
  .exp-box p {
    max-width: 90%;
  }
  .exp2-content h1 {
    font-size: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .home h3 {
    font-size: 1.5rem;
  }
  .home h1 {
    font-size: 2.5rem;
  }
  .home p {
    font-size: 1.2rem;
    max-width: 450px;
  }
  .notice span {
    font-size: 1.3rem;
  }
  .reservation-box {
    grid-template-columns: 1fr;
  }
  .reservation h3 {
    font-size: 1.5rem;
  }
  .reservation-box button {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu ul li {
    padding: 1rem 0.5rem;
  }
  .menu ul li a {
    font-size: 1.4rem;
  }
  .home h3 {
    font-size: 1.6rem;
  }
  .home h1 {
    font-size: 2.8rem;
  }
  .home p {
    font-size: 1.275rem;
  }
  .notice span {
    font-size: 1.358rem;
  }
  .reservation h3 {
    font-size: 1.6rem;
  }
  .reservation-box {
    grid-template-columns: 2fr 2fr;
  }
  .images {
    grid-template-columns: 1fr 1fr;
  }

  .img3 {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
}
@media (max-width: 1024px) {
  .service-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .exp {
    grid-template-columns: 1fr;
  }
  .exp-card {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}
